<h1 class="text-2xl">A demo of the <a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="https://github.com/pay-rails/pay" target="_blank">pay</a> Ruby gem</h1>

<ul class="py-12">
  <li class="list-disc"><a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="/payment_methods">List and add Payment Methods</a></li>
  <li class="list-disc"><a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="/products">Accept one-time payments with Checkout</a></li>
  <li class="list-disc"><a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="/pricing">Start a recurring subscription</a></li>
  <li class="list-disc"><a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600" href="/portal">Enable customers to manage billing</a></li>
</ul>

